<div class="w-screen h-screen pt-10% pb-20% flex">
  {{!-- <a {{action 'previous'}} href='#' class='
    text-white w-16 text-white opacity-50 hover:opacity-75
    no-underline flex items-center justify-center text-xl
  '>
    {{fa-icon 'chevron-left'}}
  </a> --}}

  <div class='w-full h-full overflow-hidden'>
    <div class='flex h-full transition cursor-pointer' data-carousel>

      {{#each photos as |photo index|}}
        <a {{action 'selectSlide' index}} data-carousel-image
          class='h-full max-w-90% mr-4 inline-block flex-no-shrink flex items-center'>
          <img src="{{photo}}" class='max-w-full max-h-full' alt="">
        </a>
      {{/each}}

    </div>
  </div>

  {{!-- <a {{action 'next'}} href='#' class='
    text-white w-16 text-white opacity-50 hover:opacity-75
    no-underline flex items-center justify-center text-xl
  '>
    {{fa-icon 'chevron-right'}}
  </a> --}}
</div>
