<div class='carousel-viewport' style='transform: {{transform}}'>

  {{#each photos as |photo index|}}
    <div class='carousel-slide'>
      <div class="carousel-image-wrapper">
        <div style='background-image: url({{photo}})' class="carousel-image"></div>
      </div>
    </div>
  {{/each}}

</div>

<div class="carousel-controls">
  <button {{action 'moveLeft'}} class='carousel-control'>
    {{fa-icon 'angle-left'}}
  </button>

  <span class="carousel-control-sm">
    {{currentSlide}} / {{photos.length}}
  </span>

  <button {{action 'moveRight'}} class='carousel-control'>
    {{fa-icon 'angle-right'}}
  </button>
</div>
